<div style="text-align: center;">
  <h2 style="margin-bottom: -12px;">Lic. en Psic. Janet González Olin</h2>
  <p style:ma> Maestra de Apoyo USAER 135</p>
    <div>
    <input type="button" value="Girar" class="button" style="float: left; transform: translateX(150%);" id='spin' />
    <canvas id="canvas" width="800" height="800"></canvas>
</div>
<script>
var options = ["A", "B", "BL", "BR", "C", "D", "DR", "E", "F", "FL", "FR", "G", "H", "I", "J", "K", "L", "M", "N", "Ñ", "O", "P", "PL", "PR", "Q", "R", "S", "T", "TR", "TL", "U", "V", "X", "Y", "Z"];


var startAngle = 0;
var arc = Math.PI / (options.length / 2);
var spinTimeout = null;

var spinArcStart = 10;
var spinTime = 0;
var spinTimeTotal = 0;

var ctx;

document.getElementById("spin").addEventListener("click", spin);

function byte2Hex(n) {
  var nybHexString = "0123456789ABCDEF";
  return String(nybHexString.substr((n >> 4) & 0x0F,1)) + nybHexString.substr(n & 0x0F,1);
}

function RGB2Color(r,g,b) {
	return '#' + byte2Hex(r) + byte2Hex(g) + byte2Hex(b);
}

function getColor(item, maxitem) {
  var phase = 0;
  var center = 538;
  var width = 95;
  var frequency = Math.PI*2/maxitem;
  
  red   = Math.sin(frequency*item+2+phase) * width + center;
  green = Math.sin(frequency*item+0+phase) * width + center;
  blue  = Math.sin(frequency*item+4+phase) * width + center;
  
  return RGB2Color(red,green,blue);
}

function drawRouletteWheel() {
  var canvas = document.getElementById("canvas");
  if (canvas.getContext) {
    var outsideRadius = 270;
    var textRadius = 200;
    var insideRadius = 145;

    ctx = canvas.getContext("2d");
    ctx.clearRect(0,0,800,800);

    ctx.strokeStyle = "white";
    ctx.lineWidth = 2;

    ctx.font = 'bold 26px Helvetica, Arial';

    for(var i = 0; i < options.length; i++) {
      var angle = startAngle + i * arc;
      ctx.fillStyle = getColor(i, options.length);

      ctx.beginPath();
      ctx.arc(320, 290, outsideRadius, angle, angle + arc, false);
      ctx.arc(320, 290, insideRadius, angle + arc, angle, true);
      ctx.stroke();
      ctx.fill();

      ctx.save();
      ctx.shadowOffsetX = -1;
      ctx.shadowOffsetY = -1;
      ctx.shadowBlur    = 0;
      ctx.shadowColor   = "rgb(0,0,0)";
      ctx.fillStyle = "white";
      ctx.translate(320 + Math.cos(angle + arc / 2) * textRadius, 
                    290 + Math.sin(angle + arc / 2) * textRadius);
      ctx.rotate(angle + arc / 2 + Math.PI / 2);
      var text = options[i];
      ctx.fillText(text, -ctx.measureText(text).width / 2, 0);
      ctx.restore();
    } 

    //Arrow
    ctx.fillStyle = "black";
    ctx.beginPath();
    ctx.moveTo(320 - 8, 320 - (800 + 20));
    ctx.lineTo(320 + 8, 320 - (300 + 10));
    ctx.lineTo(320 + 8, 320 - (300 - 5));
    ctx.lineTo(320 + 19, 320 - (300 - 5));
    ctx.lineTo(320 + 0, 320 - (300 - 43));
    ctx.lineTo(320 - 19, 320 - (300 - 5));
    ctx.lineTo(320 - 8, 320 - (300 - 5));
    ctx.lineTo(320 - 8, 320 - (300 + 10));
    ctx.fill();
  }
}

function spin() {
  spinAngleStart = Math.random() * 10 + 10;
  spinTime = 0;
  spinTimeTotal = Math.random() * 3 + 4 * 1000;
  rotateWheel();
}

function rotateWheel() {
  spinTime += 30;
  if(spinTime >= spinTimeTotal) {
    stopRotateWheel();
    return;
  }
  var spinAngle = spinAngleStart - easeOut(spinTime, 0, spinAngleStart, spinTimeTotal);
  startAngle += (spinAngle * Math.PI / 180);
  drawRouletteWheel();
  spinTimeout = setTimeout('rotateWheel()', 30);
}

function stopRotateWheel() {
  clearTimeout(spinTimeout);
  var degrees = startAngle * 180 / Math.PI + 90;
  var arcd = arc * 180 / Math.PI;
  var index = Math.floor((360 - degrees % 360) / arcd);
  ctx.save();
  ctx.font = 'bold 100px Helvetica, Arial';
  ctx.shadowOffsetX = 1;
  ctx.shadowOffsetY = -1;
  ctx.shadowBlur    = 0;
  ctx.shadowColor   = "rgb(89,89,89)";
  var text = options[index]
  ctx.fillText(text, 320 - ctx.measureText(text).width / 2, 320 );
  ctx.restore();
}

function easeOut(t, b, c, d) {
  var ts = (t/=d)*t;
  var tc = ts*t;
  return b+c*(tc + -3*ts + 3*t);
}

drawRouletteWheel();
</script>
